*{
    box-sizing: border-box;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
}
  
footer p{
    text-align: center;
    background-color: bisque;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.foglalo-wrapper {
    margin: auto;
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 10px;
    display: grid;
    gap:20px;
  }
  
.haz div {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fahazak div {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;

}

article { 
    padding:10px;
    margin:10px;
    display:grid; 
    grid-gap: 10px; 
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
aside{
    margin:10px;
    color:white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.fout{
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}

.fahazak{
    display:grid; 
    grid-gap: 10px; 
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    
}

.fszt8{
    background-color: rgb(188, 105, 105);
}
.fszt7{
    background-color: rgb(184, 68, 68);
}
.fszt6{
    background-color: rgb(185, 48, 48);
}
.fszt5{
    background-color: rgb(182, 28, 28);
}
.fszt4{
    background-color: rgb(107, 94, 176);
}
.fszt3{
    background-color: rgb(89, 70, 187);
}
.fszt2{
    background-color: rgb(61, 36, 185);
}
.fszt1{
    background-color: rgb(33, 0, 201);
}

.em1{
    background-color: rgb(167, 114, 167);
}
.em2{
    background-color: rgb(128, 70, 128);
}
.em3{
    background-color: rgb(132, 35, 132);
}
.em4{
    background-color: rgb(131, 0, 131);
}

.em5{
    background-color: rgb(116, 167, 114);
}
.em6{
    background-color: rgb(92, 166, 89);
}
.em7{
    background-color: rgb(49, 161, 45);;
}
.em8{
    background-color: rgb(5, 163, 0);;
}

.f1{
    background-color: rgb(177, 156, 0);
}
.f2{
    background-color: rgb(181, 168, 67);
}
.f3{
    background-color: rgb(144, 127, 0);
}
.f4{
    background-color: rgb(89, 79, 0);
}

.kezdokep img{
    width: 100%;
}

.kezdokep{
    padding: 5px;
    background-color: rgb(249, 203, 142);
    border-top-right-radius: 5px;
    
}

.elsonezet{
    background-color: antiquewhite;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding:15px;
}

.navok{
    background-color: rgb(249, 203, 142);
    max-width: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}
nav{
    margin: 5px;
    background-color: white;
}

.flex-container{
    display: flex;
}

.keret{
    padding: 5px;
    background-color: rgb(249, 203, 142);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
